<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="icon" href="favicon.ico">
    <link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/css/manga.css" rel="stylesheet">
    	
	<title>manga</title>

	<script type="text/javascript" src="js/manga.js"></script>
</head>
<body>
	<div> <a href="/manga">HOME</a>
	<a href="http://www.goodmanga.net/">goodmanga</a> </div> &nbsp
	<form class="form-horizontal" action="" method="post" id="formulario">

		<div class="form-group">

			<div class="col-xs-2"></div>
			<div class="col-xs-2">
				<input class="form-control" placeholder="prefixo" id="prefixo" aria-describedby="addon_prefixo" type="text" name="prefixo" value="{{prefixo}}"/>
			</div>
			<div class="col-xs-2">
				<input class="form-control" placeholder="sufixo" id="sufixo" aria-describedby="addon_sufixo" type="text" name="sufixo" value="{{sufixo}}"/>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-2"></div>
			<div class="col-xs-7">
				<div class="input-group">
					<span class="input-group-addon">
						<input id="zero10" type="checkbox" aria-label="addon_pagina" name="zero10" {{zero10}}>&nbspzero10
					</span>
					<input class="form-control" placeholder="pagina" id="pagina" aria-describedby="addon_pagina" type="text" value="{{img_adr}}" name="img_adr"/>
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button" onclick="return submit_pagina();">Go!</button>
					</span>
				</div>
			</div>
		</div>
		<input type="submit" style="visibility: hidden;" />
	</form>

	<div id="prox-edicao"></div>

	{% for site in sites %}
		<div class="lista-paginas">
			<a href="#" onClick="return vai_site('{{site.message}}')">{{site.message}}</a>
			 ] 
			&nbsp<a class="btn_icon" href="?delete={{site.key().id()}}">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			<!-- &nbsp<a class="btn btn-xs btn-danger" href="#" data-id="{{site.key().id()}}">deletar</a> -->
		</div>
	{% endfor %}

	{% if img_adr %}
		<p>mostrando imagens para <b>{{img_adr}}</b>:</p>
	{% endif %}

	<div class="list-group" id="conteudo"></div>


</body>

	{% if img_adr %}
		<script type="text/javascript">
			vai(1);
		</script>
	{% endif %}

	<script type="text/javascript">
		lista_links = document.getElementsByClassName('lista-paginas');
		for (var i = 0; i < lista_links.length; i++) {
			del = lista_links[i].getElementsByClassName('btn')[0];
			del.addEventListener('click',function(){
				// encontra checkbox listadas
				ch = document.getElementsByClassName('checkbox-deletar');

				var nro_checked = 0;
				var txt = "&check_deletar=";

				// varrendo checkboxes selecionadas
				for (var i = 0; i < ch.length; i++) {
					if (ch[i].checked) {
						nro_checked += 1;
						// txt += ch[i].getAttribute('data-id') + ',';
						txt += ch[i].getAttribute('data-id') + ',';
					}
				}

				// removendo ultima ','
				txt = txt.substr(0,txt.length-1);

				// escrevendo valor do link
				// this.setAttribute('href','?delete='+txt);
				

				// escrevendo no console
				console.log(nro_checked)
				console.log(txt)
				return false;
			});
		}
	</script>
</html>