	html, body {
		height: 100%;
		margin:0;
		background-color: #18466E;
	}

	*,html{font-family: calibri, arial, "MS Trebuchet", sans-serif;}
	html {width:100%}
	label {min-width: 60px; display: inline-block;}

	.nav {
		margin:0 auto;
		padding: 2px 0;
		
		max-width: 50em;
		background-color: white;
		border-bottom: 2px solid #18466E;
	}

	h3 {
		margin: 10px 0;
	}

	.nav li a {
		margin-bottom: 1px;
		text-align: center;
	}

	.nav li a {
		padding:15px 5px;
	}

	.row {
		margin:0 auto;
		background-color: white;
		padding:15px;
		padding-top: 0;
		min-height: 300%;
		max-width: 50em;
		border-bottom: 8px solid #18466E;
	}

	.row-escondido {
		display:none;
	}

	.divisor {
		background-color: rgb(46, 109, 164);
		width:100%;
		height: 8px;
		margin: 15px 0;
	}

	.input-group {
		padding-bottom: 5px;
	}

	.sub-titulo {
		padding-top: 10px;
		display: block;
	}

	.div-ans {
		padding: 10px 5px;
		font-family: monospace!important;
	}
	
	#formLMU .col-xs-6 {
		padding: 0;
		padding-right: 3px;
	}

	#formIMPACTO {
		margin: 0 auto;
	}

	#formIMPACTO .col-xs-4 {
		padding: 0;
		padding-right: 6px;
	}
	
	/*#resposta_deg {padding:10px;}*/
	
	span.input-group-addon, textarea {
		font-family: monospace!important;
	}

	.div-btn a:hover {
		text-decoration: none;
	}
	
	.btn_salvar_conta {
		font-size: 30px;
		position: relative;
		top: 13px;
    	margin-left: 10px;
	}

	a.btn-glyphicon  {
		color: #273135;
	}

	
	.carregar-deletar-elemento {
		position: relative;
	}
	
	a:hover.btn-glyphicon {
		color: #3E688C;
	}
	
	.btn_icon {
		font-size: 15px;
		padding: 3px 15px;
	}

	.btn_icon_salva {
		font-size: 1.3em;
		padding: 3px 15px;
	}

	.espaco-vazio {
		margin:0 auto;
		background-color: white;
		height:30px;
		max-width: 50em;
	}

/*	.btn_deletar_conta {
		position: absolute;
		right:2em;
		font-size: 23px;
		color:#d9534f;
	}

	.btn_deletar_conta:hover {
		color:#8F4442;
	}

	.btn_deletar_conta {
		position: absolute;
		right:1em;
		font-size: 23px;
		color:#d9534f;
	}
	
	.btn_deletar_conta:hover {
		color:#8F4442;
	}*/