	body {
		background: #313131;
		color: white;
		text-align: center;
		margin: 10px;
	}

	.nro-imagem {
		font-family: monospace!important;
		position: absolute;
		left: 8%;
		background-color: #2A80B2;
		padding: 10px 15px;
		font-size: 1em;
	}

	.nro-imagem-ini {
		top: 10px;
	}

	.nro-imagem-fim {
		bottom: 10px;
	}

	.badge-prox {
		font-family: monospace!important;
		background-color: #2A80B2;
		padding: 10px 15px;
		font-size: 1em;
	}
	.badge-prox:hover {
		background-color: #215E82;
	}

	.cont-img {
		position: relative;
	}

	.input-group {
		margin: 5px 0;
	}

	.row {
		margin: 0 10%;
	}

	.col-centered{
		float: none;
		margin: 0 auto;
	}

	.input-group-addon,label {
		font-family: monospace!important;
	}

	#conteudo > div {
		vertical-align: top;
		margin-top: 15px;
	}

	#conteudo > div::after {
		clear: both;
		display: block;
		content: " ";
	}
	#conteudo > div:not(:last-child)::after {
		height: 1px;
		width: 240px;
		background: #241313;
		border-bottom: 1px solid #3c2a2a;
		margin: 0 auto;
	}

	#conteudo > div img {min-width:85%;}
	input {font-size:1em;}
	/*.cont-img {position: relative;}*/

	#opcoes_imagem {
		background: black;
		/*padding: 6px 0;*/
		border: 1px solid;
		position: absolute;

		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;      /* TWEENER - IE 10 */
		display: -webkit-flex;     /* NEW - Chrome */
		display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

		-webkit-justify-content: center;
		-webkit-align-content: center;
		opacity: 0.9;
	}

	.div_opcoes_column p {
		margin: 0;
		padding: 0 !important;
	}
	.div_opcoes_column p {
		color:red;
		margin:0;
		padding:0;
		font-size: 16px;
	}

	#opcoes_imagem > a {
		background: #5386D3;
		width: 12%;
		height: 10%;
		-webkit-border-radius: 3px;
	}

	#opcoes_imagem > a + a {
		margin-left:1em;
	}

	#opcoes_imagem > a:last-child {
		background: #9F2525 ;
	}


	.lista-paginas + .lista-paginas {
		margin-top: 10px;
	}

	h3 {
		font-family: monospace; 
	}

	a {color:white; text-decoration: none}
	a:hover {text-decoration: underline; color: #619ED4}

	.btn_icon {
		font-size: 23px;
		position: relative;
		top:4px;
		text-decoration: none;
	}
	
	a.btn_icon:hover {
		text-decoration: none;
		color:#d9534f;
	}